/*COPERTINA IN SOVRAIMPRESSIONE*****************************************************************************************************/

#copertinaCliccata {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
    overflow-y: auto;
}

.boxCliccato {
    width: 50%;
    margin: 80px auto;
    height: auto;
    background: #160f3d ;
    border-radius: 10px;
    position: relative;
    border-radius: 10px;
}

.boxCliccato h1 {
    text-align: center;
}

.boxCliccato #chiudi, .boxCliccato #muted, #chiudiContatti  {
    position: absolute;
    cursor: pointer;
    border-style: none;
    z-index: 1000;
}

.boxCliccato #chiudi, #chiudiContatti{
    background: url("../immagini/cross.png") no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    filter: invert(100%);
}

.boxCliccato #chiudi {
    background-color: #ccc;
}

.boxCliccato #muted {
    background: url("../immagini/mute.png") no-repeat center center;
    background-size: cover;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    opacity: 0.3;
    display: none;
}

.boxCliccato .muted:hover {
    opacity:1;
}

.boxCliccato .sinossi {
    margin: 1vw 2vw;
    font-size: 1vw;
    padding: 20px;
}

.boxCliccato video {
    width: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image:-webkit-gradient(linear, left center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: none;
}

.boxCliccato h2 {
    font-size: 2vw;
    cursor: pointer;
    margin: 1em;
}

.boxCliccato li{
    margin: 1em;
    position: relative;
    width: 65%;
}

.boxCliccato li::before{
    content: "" ;
    background: url("../immagini/episodio.png") no-repeat center center;
    background-size: cover;
    display: inline-block;
    width: 16vw;
    height: 10vw;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 1em;
}

.boxCliccato li:hover::after{
    content: "" ;
    background: transparent url("../immagini/play-button.png") no-repeat center center;
    background-size: cover;
    display: inline-block;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    filter: invert(100%);
    position: absolute;
    left: 8vw;
    top: 5vw;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.boxCliccato li::after{
    content: "" ;
    background: transparent url("../immagini/play-button.png") no-repeat center center;
    background-size: cover;
    display: inline-block;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    filter: invert(100%);
    position: absolute;
    left: 8vw;
    top: 5vw;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .8s;
}

.boxCliccato li a{
    text-decoration: none;
    color: #ccc;
    font-size: calc(0.5vw + 1em);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 3vw;
}

.boxCliccato #playButton {
    filter: invert(100%);
    width: 7vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    z-index: 1000;
    display: none;
    transition: width 0.5s;
}

.boxCliccato #playButton:hover {
    width: 8vw;
}

.boxCliccato #copertina {
    width: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image:-webkit-gradient(linear, left center, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    border-radius: 10px;
}

/*CONTATTACI*********************************************************************************/

#boxContattaci {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
}

#boxContattaci h2 {
    margin-bottom: 100px;
    text-align: center;
    font-size: 2.2em;
}

#boxContattaci form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1d1d31, #26224e, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1d1d31, #26224e, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 50vw;
    border-radius: 20px;
    border: 2px solid #ccc;
    min-height: 42vw;
}

#boxContattaci form li {
    width: 50%;
    float: left;
    margin-bottom: 50px;
}

#boxContattaci form li input {
    display: block;
    margin: 0 auto;
    width: 70%;
    padding: 10px;
    font-size: 1.3em;
    border-radius: 15px;
    background-color: #ccc;
}

#boxContattaci form textarea {
    width: 85%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    padding: .5em;
    background-color: #ccc;
    font-size: 1.3em;
}

#boxContattaci #privacyContattaci {
    margin-left: 10%;
    margin-top: 50px;
    cursor: pointer;
}

#boxContattaci button {
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    padding: 10px;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#boxContattaci button:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
}

#boxContattaci h3 {
    position:absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

form span {
    text-align: center;
}


form label + span {
    text-align: left;
    margin-left: 10%;
}
